*{margin:0;}
#titre1{
    position:relative;
text-align: center;
font-weight: bold;
font-size: 18px;
}
h5{
    font-weight: bold;
font-size: 18px;

}
nav{
    background-color: black;
    padding:15px;}
a{
    color:white;
    list-style-type:none;
}
li{
  display: inline;

}
aside{
   
  background-color: rgb(175, 174, 174);
  height: 450px;
  width:250px;
  margin-top: 0px;
  font-weight: bold;
  text-align: center;
  margin-top: -205px;
margin-left: 390px;
}

#pr{
display: flex;
flex-wrap: wrap;
line-height: 40px;
}
footer{
    background-color: black;
    padding:15px;}
